/* Imports*/
@import url(//db.onlinewebfonts.com/c/9a6fac95e27cc0dd0c5f8caf4c753df4?family=MONACO);

/* Body */
body {
    background: #F5F4EF;
    color: rgb(197, 197, 197);
    font-size: 14px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    line-height: 0.800;
    margin: 0;
    padding: 0;
    text-align: left;
}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 20px;}

#content {
	background: rgb(28, 28, 28);
	margin-bottom: 2em;
	overflow: hidden;
	padding: 0px 20px;
	/* width: 760px; */
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

